.sounds-container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1%;
  gap: 3.5%;
  margin-bottom: -3%;
  @media screen and (min-width: 768px) {
    width: 70%;
    margin-bottom: -2%;
  }
}
