/* reset */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 400;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
}

ol, ul {
  list-style: none;
}

body {
  padding: 1em;
  min-height: 100vh;
  background: rgb(20, 189, 170);
  background: linear-gradient(151deg, rgba(20, 189, 170, 1) 20%, rgba(14, 24, 198, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}